body{
    padding: 0px !important;
    margin: 0px !important;
    background-color: rgb(64, 78, 90) !important;
}

/* //css for signup forms */
.signup-form{
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px;
    border: 3px solid black;
    background-color: white ;
    color: black !important;
}
.signup-form a{
    text-decoration: none;
    color: blue;
    font-size: 15px;
    /* font-weight: bold; */
    margin-left: 5px;    
}
.signup-form a:hover{
    color: rgb(27, 25, 26);
}
input{
    border: 1px solid black !important;
}

/* media query for small screens  */

@media only screen and  (min-width:600px){
    body {
        background-repeat: no-repeat;
        background-size: cover;
    }
    .signup-form{
        width: 50% !important;
    }
}


@media only screen and  (max-width:765px){
    .signup-form{
        width: 60% !important;
    }
    
}

@media only screen and  (max-width:600px){
    .signup-form{
        width: 70% !important;
    }
    
}

@media only screen and  (max-width:400px){
    .signup-form{
        width: 90% !important;
    }
    
}

@media only screen and (min-width:940px) {
    body {
        background-image: url('../images/restaurant-img.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .signup-form{
        color: black;
        width: 30% !important;
    }
}


@media only screen and (min-width:1100px) {
    body {
        background-image: url('../images/restaurant-img.jpg');
        background-repeat: no-repeat;
        background-size: cover;
    }
    .signup-form{
        color: black;
        width: 32% !important;
        border-radius: 40px !important;
    }
}


